<div class="mt-4">
  <h3>Đăng khóa học</h3>
  <form method="POST" action="/courses/store">
    <div class="form-group">
      <label for="exampleInputEmail1">Tên khóa học: </label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Nhập tên khóa học">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Mô tả: </label>
      <input type="text" class="form-control" id="description" name="description" placeholder="Nhập mô tả">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Video ID: </label>
      <input type="text" class="form-control" id="videoId" name="videoId" placeholder="Nhập video id">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Trình độ: </label>
      <input type="text" class="form-control" id="level" name="level" placeholder="Nhập trình độ">
    </div>
    <button type="submit" class="btn btn-primary">Thêm khóa học</button>
  </form>
</div>